<h1>The Game of Rock, Paper, Scissors</h1>
<p>This game is to be played with 2 players, after the count of 3, they each select either Rock, Paper or Scissors.


Rock      = the hand in a fist
paper     = the hand flat facing upwards
scissors  = make a scissor action with 2 fingers

The rules of the game:

Rock beats scissors
Scissors beats paper
paper beats rock

The best of 3 and the winner is decided
</p>