<!doctype html>

<html lang = 'en'>
  <head>
    <meta charset = 'utf-8'>
    <title>Rock, Paper, Scissors</title>
    <link rel = 'stylesheet'href = '/style.css'>
  </head>
  <body>
    <nav>
      <ul> 
        <li><a href = "/game_rules">Rules of the Game</a></li
        <li><a href = "/the_winner">The Winner</a></li>
      </ul>
    </nav>
  <%= yield %>
  </body>
</html>